<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="All Rules with default action" Description="All Rules with default action. Rules with IsEnabledByDefault = false are disabled." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.VisualBasic.Analyzers" RuleNamespace="Microsoft.CodeQuality.VisualBasic.Analyzers">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1019" Action="None" />
    <Rule Id="CA1032" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1200" Action="Warning" />
    <Rule Id="CA1507" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2218" Action="Warning" />
    <Rule Id="CA2224" Action="Warning" />
    <Rule Id="CA2234" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>